<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", 'about_path' %></li>
      <li><%= link_to "Contact", 'contact_path' %></li>
	  <li><%= link_to "Posts", posts_path %></li>
	  <li><%= link_to "Hostels", hostels_path %></li>
	  <li><%= link_to "Books", books_path %></li>
    </ul>
  </nav>
</footer>
