    <header>
		
			<% left_logo_image= image_tag("flashimages/leftside.jpg", :alt => "Litwak Recommends", :float => "left", :class => "round") %>
			<%= link_to left_logo_image, root_path%>
		
			<% logo_text = image_tag("flashimages/header2.jpg", :id => "title-image", :alt => "Litwak Recommends", :class => "round") %>
			<%= link_to logo_text, root_path%>
			<div id="top-right-image" class="round">
						<% right_logo_image= image_tag("flashimages/rightside.jpg", :alt => "Litwak Recommends", :class => "round") %>
			<%= link_to right_logo_image, root_path%>
			</div>

			
		<nav class="round" id="nav-bar">
	
	
          <ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Posts", posts_path %></li>
			<li><%= link_to "Hostels", hostels_path %></li>
			<li><%= link_to "Books", books_path %></li>
            
          </ul>
		 
        </nav>
	  
    </header>
