    <header>
			
		<nav id="nav-bar" class="round">
	
	
          <ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Posts", posts_path %></li>
			<li><%= link_to "Hostels", hostels_path %></li>
			<li><%= link_to "Books", books_path %></li>
            
          </ul>
		 
        </nav>
	  
    </header>
